# YOLO project specific ignores

# Logs
logs/
*.log

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Model weights
*.weights
*.pt

# Dataset
datasets/
*.zip
*.tar.gz

# Output files
runs/

# System files
.DS_Store
Thumbs.db

# Data files
United_States/
RDD2022_United_States.zip

# Model running cache
src/runs/
*.pt
